.ptag {
  width: 600px;
}
.part1 {
  width: 300px;
}
i {
  font-size: 25px;
}
.gridpart {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 20px;
  margin-top: 60px;
}
.image img {
  width: 500px;
  height: 600px;
  border-radius: 30px;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 70px 140px;
  position: relative;
}
.team {
  text-align: center;
}
.person1 {
  width: 300px;
}

.person1 a {
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.name-image {
  width: 300px;
  height: 310px;
}
.names {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.test {
  margin: 0 auto;
  width: 800px;
  margin-top: 100px;
}
.testimonial {
  text-align: center;
  font-size: 40px;
}
.donec {
  text-align: center;
}
.test-image {
  width: 80px;
  border-radius: 50%;
  margin-left: 360px;
}
.test h5 {
  text-align: center;
}
.butons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.butons input {
  padding: 15px 30px;
  border-radius: 7px;
}
.butons button {
  background-color: white;
  border: white solid;
}
.above-footer {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
.chair-image {
  width: 470px;
  height: 400px;
  position: absolute;
  right: 90px;
}
.email {
  margin-top: 90px;
  margin-left: 80px;
}
